--extra-index-url https://pypi.org/simple/
pip==24.3.1
streamlit
os-sys
pillow
pytesseract
pdf2image
langchain-community
langchain
langchain-groq
langchain-core
sentence-transformers
faiss-cpu
gradio
